@page "/"

@attribute [Authorize]

@inject M365.Today.Services.GraphClientFactory clientFactory

<PageTitle>M365 Today</PageTitle>

@*<FluentCard>
    <h2>Hello World!</h2>
    <FluentButton Appearance="@Appearance.Accent">Click Me</FluentButton>
</FluentCard>*@

<AuthorizeView>
    <Authorized>

        <Layout>
            <Header Height="200">
            </Header>

            <Stack Orientation="Orientation.Horizontal" Width="50%" HorizontalGap="0">
                <BodyContent>
                    <M365.Today.Components.CalendarCard />
                    <Spacer />
                    <M365.Today.Components.MailCard />
                    <Spacer />
                    <M365.Today.Components.ToDoCard />
                </BodyContent>
            </Stack>
        </Layout>

    </Authorized>
    <NotAuthorized>
        <RedirectToLogin />
    </NotAuthorized>
</AuthorizeView>

@code {

    protected override async Task OnInitializedAsync()
    {

    }
}