@page "/"
@using M365.Today.Services;
@using Microsoft.AspNetCore.Components.Authorization;
@using Microsoft.Graph
@using TimeZoneConverter

@attribute [Authorize]

@inject M365.Today.Services.GraphClientFactory clientFactory

<PageTitle>M365.Today</PageTitle>

@*<FluentCard>
    <h2>Hello World!</h2>
    <FluentButton Appearance="@Appearance.Accent">Click Me</FluentButton>
</FluentCard>*@

<AuthorizeView>@
    <Authorized>
        <M365.Today.Components.CalendarCard />
        <M365.Today.Components.MailCard />
        @*<M365.Today.Components.ToDoCard />*@
    </Authorized>
    <NotAuthorized>
        <RedirectToLogin />
    </NotAuthorized>
</AuthorizeView>

@code {

    protected override async Task OnInitializedAsync()
    {

    }
}