@using M365.Today.Services;
@using Microsoft.AspNetCore.Components.Authorization;
@using Microsoft.Graph
@using TimeZoneConverter

@using Microsoft.Fast.Components.FluentUI

@inject M365.Today.Services.GraphClientFactory clientFactory

@if (isLoading)
{
    <FluentProgressRing></FluentProgressRing>
}
else
{
    <FluentCard>
        <div class="contents">
            <div data-is-scrollable="true" style="height:500px;overflow-y:auto;">
                <FluentDataGrid RowsData="@todos">
                    <PropertyColumn Property="@(p => p.Title)" Title="Title" />
                    <PropertyColumn Property="@(p => Convert.ToDateTime(p.DueDateTime.DateTime))" Format="MM-dd-yyyy" Title="Due Date" />
                </FluentDataGrid>
            </div>
        </div>
    </FluentCard>
}

@code {
    [CascadingParameter]
    private Task<AuthenticationState>? authenticationStateTask { get; set; }

    private GraphServiceClient? graphClient;
    private IQueryable<TodoTask> todos;
    private string? dateTimeFormat;

    private bool isLoading = true;

    protected override async Task OnInitializedAsync()
    {
        if (authenticationStateTask == null)
        {
            throw new AuthenticationException(new Error
                {
                    Message = "Unable to access authentication state"
                });
        }

        graphClient = clientFactory.GetAuthenticatedClient();

        var lists = await graphClient.Me.Todo.Lists.Request().GetAsync();
        var listTodo = new List<TodoTask>();

        foreach (var list in lists.CurrentPage)
        {
            var tasks = await graphClient.Me.Todo.Lists[list.Id].Tasks.Request().GetAsync();

            foreach (var task in tasks.Where(c => c.Status == Microsoft.Graph.TaskStatus.NotStarted))
            {
                listTodo.Add(task);
            }
        }

        todos = listTodo.AsQueryable();

        isLoading = false;
    }
}
